<div class="slide left-text-slide">
	<h1>TypeScript Syntax</h1>
	<h2><strong>TypeScript uses postfix type annotations to denote the type of something. </strong><br>This can be seen with variables, function parameters, function return types, class property types and more.</h2>
	<div id="h4list"><h2>Basic Types</h2><br><h3>TypeScript exposes the JavaScript primitives, as well as a couple of extra types:</h3>
		<h4><span class="remark">*</span> `string` - the type is a primitive JavaScript string. E.g. `"hello"`.</h4>
		<h4><span class="remark">*</span> `number` - the type is a primitive JavaScript number. E.g. `10`.</h4>
		<h4><span class="remark">*</span> `boolean` - the type is a primitive JavaScript boolean. E.g. `true`.</h4>
		<h4><span class="remark">*</span> `any` - the type is _anything_.</h4>
		<h4><span class="remark">*</span> `any[]` - the type is an array of `any`.</h4>
		<h4><span class="remark">*</span> `void` - no type, effectively `undefined`.</h4>
		<h4><span class="remark">*</span> `() => any` - the type is a function that returns `any`.</h4>
	</div>
</div>