<div class="slide left-text-slide">
	<h1>TypeScript Inferencing</h1>
	<pre class="highlightjs">
		<code>
			/*
			* Interfaces are the way to type anything more complicated than our basic types,
			* including functions and classes. Although you'll probably never use it in place of a function and class,
			* you can imagine interfaces as the basic building block.
			* The syntax is similar to JavaScript object, but using types and a couple of little syntax changes/additions.
			*/

			<span class="tag">interface MyInterface </span>{
				  <span class="tag">value:</span> string // Has a property which is a `string`.
			<span class="tag">method (): </span><span class="value">number</span> // Has a method that returns a `number`.
			<span class="tag">():</span><span class="value"> boolean </span>// It's a function that returns a `boolean`.
				}
		</code>
	</pre>
</div>