<div class="slide left-text-slide">
    <h1>TypeScript tsconfig.json</h1>
    <pre class="highlightjs">
		<code>
                {
                  "compilerOptions": {
                    "target": "es5",
                    "outDir": "dist/",
                    "module": "commonjs",
                    "declaration": true,
                    "noImplicitAny": true,
                    "removeComments": true,
                    "sourceMap": true,
                    "newLine": "LF"
                  },
                  "files": [
                    "src/index.ts",
                    "typings/main.d.ts"
                  ]
                }
		</code>
	</pre>
</div>