<div class="slide left-text-slide">
    <h1>TypeScript - A deeper dive: .d.ts</h1>
    <h2>Files that end in `.d.ts` are known as TypeScript definition files. They are like TypeScript files, except they are **only** the type declaration space side of things. If you were to, theoretically, combine a complete `.d.ts` file with the `.js` runtime, you'd end up with a JavaScript file.<br><strong>This is a powerful concept, since it enables us to separate the type system from our runtime implementation.</strong></h2>
</div>